@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    height: 100%;
    background-color: #222831;
}

.container {
    border: 4px solid white;
    padding: 40px;
    width: 900px;
}

#root {
    background-color: #222831;
    padding: 12%;
}

h1 {
    color: white;
    font-size: 150px;
    font-family: 'Share Tech Mono', monospace;
}

input {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    width: 30%;
    margin-left: 35%;
}

.btn {
    background-color: #cc7351;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    width: 30%;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin-left: 35%;
}

.btn:hover {
    background-color: rgb(99, 20, 20);
    box-shadow: none;
    border-radius: 0px;
    border: none;
}