@import 'mixin';

.header ul {
  @include inline-list();
  li {
    background-color: burlywood;
    a {
      color: aqua;
    }
  }
}

.footer ul {
  @include inline-list();
  li {
    background-color: red;
    a {
      color: aqua;
    }
  }
}

//arguments

.container {
  @include flex-box(column, space-between);
  width: 600px;
  height: 400px;
  background-color: burlywood;
  .box {
    width: 60px;
    height: 60px;
    background-color: aqua;
    text-align: center;
    line-height: 60px;
  }
}
